.container {
    width: 100%;
    height: 750px;
}
.col {
    width: 50%;
}

#gameRules {
    justify-content: center;
    vertical-align: center;
    margin: auto;
}

#canvas {
    margin-top: 100px;
}